---
layout: default
title: HONK! Fest West
carousel_images:
  - /assets/images/carousel/001.jpg
  - /assets/images/carousel/002.jpg
  - /assets/images/carousel/003.jpg
  - /assets/images/carousel/004.jpg
  - /assets/images/carousel/005.jpg
  - /assets/images/carousel/006.jpg
  - /assets/images/carousel/007.jpg
  - /assets/images/carousel/008.jpg
  - /assets/images/carousel/009.jpg
golden_dino: show
---

<div id="index-page" class="container">
  <div class="contrast-container">
    <h2 class="ft-fml-2 ft-clr-2 text-center m-0">
      HONK! Fest West | May 31st - June 2nd 2019 | Seattle, Washington
    </h2>
  </div>
  <div class="contrast-container">
    <h2 class="ft-fml-1 ft-bdr-1">
      <span class="ft-clr-1 ">Winter Warmup</span>
      <span class="text-muted">A Benefit for HONK! Fest West</span>
    </h2>
    <div class="row">
      <div class="col-md-4">
        <a
          target="_blank"
          href="https://www.facebook.com/events/385666322256290/"
        >
          <img
            class="img-link img-fluid"
            src="{{
              '/assets/images/events/11x17_WinterWarmUpFinal.jpg' | relative_url
            }}"
          />
        </a>
      </div>
      <div class="col-md-8">
        <p>
          <b>Feb 2nd - 8:30pm - Substation 645 NW 45th St, Seattle, WA 98107</b>
          <br /><br />
          Come warm up your cold bones to some spicy sounds from some of your
          favorite bands. <br /><br />
          <a href="https://www.actionesse.com/" target="_blank">Actionesse</a>
          <br />
          <a href="https://neonbrassparty.com/" target="_blank"
            >Neon Brass Party</a
          >
          <br />
          <a href="https://tenmanbrass.bandcamp.com/">Ten Man Brass Band</a>
          <br /><br />
          $10 <br />
          21+ <br />
          Doors at 8:30 pm <br />
          All proceeds go toward Honk! Fest West 2019: Seattle's free, 3-day
          street band festival!
        </p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <div class="contrast-container rounded">
        <h2 class="ft-fml-1 ft-clr-1 ft-bdr-1 text-center">About</h2>
        <p>
          Honk! Fest West is a grass roots, non-profit, music festival. Honk!
          Festivals are a part of a global renaissance of community street band
          culture.
        </p>
        <div class="d-flex justify-content-left">
          <a
            class="btn btn-secondary d-block"
            href="{{ '/about' | relative_url }}"
            role="button"
            >Read more »</a
          >
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="contrast-container rounded">
        <h2 class="ft-fml-1 ft-clr-1 ft-bdr-1 text-center">Volunteer</h2>
        <p>
          If you want to volunteer, and help make HONK! Fest West magic, contact
          our Volunteer Coordinator via our volunteer page or send an email to
          <a href="mailto:volunteers@honkfestwest.org">volunteers@</a>
        </p>
        <div class="d-flex justify-content-left">
          <a
            class="btn btn-secondary d-block"
            href="{{ '/volunteer' | relative_url }}"
            role="button"
            >Read more »</a
          >
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="contrast-container rounded">
        <h2 class="ft-fml-1 ft-clr-1 ft-bdr-1 text-center">Donate</h2>
        <p>
          Your contributions help make this event possible. Through the generous
          efforts of our shared community, we’ll keep bringing music to the
          streets and parks of Seattle’s neighborhoods.
        </p>
        <div class="d-flex justify-content-left">
          <a
            class="btn btn-secondary d-block"
            href="{{ '/donate' | relative_url }}"
            role="button"
            >Read more »</a
          >
        </div>
      </div>
    </div>
  </div>

  <div
    id="imageCarousel"
    class="carousel slide contrast-container p-3"
    data-ride="carousel"
  >
    <div class="carousel-inner">
      {% for image in page.carousel_images %}
      <div
        class="carousel-item {% if forloop.first == true %}active{% endif %}"
        data-interval="4000"
      >
        <div
          style="background-image: url({{ image | relative_url }})"
          class="d-block w-100"
        ></div>
      </div>
      {% endfor %}
    </div>
    <a
      class="carousel-control-prev"
      href="#imageCarousel"
      role="button"
      data-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a
      class="carousel-control-next"
      href="#imageCarousel"
      role="button"
      data-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>
