---
layout: default
title: HONK! Fest West
carousel_images:
  - /assets/images/carousel/001.jpg
  - /assets/images/carousel/002.jpg
  - /assets/images/carousel/003.jpg
  - /assets/images/carousel/004.jpg
  - /assets/images/carousel/005.jpg
  - /assets/images/carousel/006.jpg
  - /assets/images/carousel/007.jpg
  - /assets/images/carousel/008.jpg
  - /assets/images/carousel/009.jpg
golden_dino: show
---

<div id="index-page" class="container">
  <div
    itemscope
    itemtype="http://schema.org/Festival"
    class="contrast-container"
  >
    <meta
      itemprop="description"
      content="HONK! Fest West is an accessible community music festival driven by the energetic performances of street bands in public spaces. In 2019, we are embracing activism by engaging with and empowering the underserved communities of our region."
    />
    <link itemprop="url" href="https://www.honkfestwest.org" rel="author" />
    <h2
      class="ft-fml-2 ft-clr-2 text-center m-0 d-flex justify-content-center flex-wrap"
      style="letter-spacing: 0.04em;"
    >
      <a
        class="d-block font-weight-normal"
        itemprop="url"
        href="https://www.honkfestwest.org"
        ><span itemprop="name">HONK! Fest West</span></a
      >
      <div class="d-none d-sm-none d-md-block">&nbsp;|&nbsp;</div>
      <div>
          <time itemprop="endDate" content="June 5-7, 2020"
            > June 5-7, 2020</time
          >
      </div>

      <div class="d-none d-sm-none d-md-none d-lg-block">&nbsp;|&nbsp;</div>
      <div
        itemprop="address"
        itemscope
        itemtype="http://schema.org/PostalAddress"
      >
        <div>
          <span itemprop="addressLocality">Seattle</span>,
          <span itemprop="addressRegion">Washington</span>
        </div>
      </div>
    </h2>
  </div>

  {% for post in site.posts %}
  <div class="contrast-container">
    <h2 class="ft-fml-1 ft-bdr-1">
      <span class="ft-clr-1 ">{{ post.title }}</span>
      <span class="text-muted">{{ post.subtitle }}</span>
    </h2>
    <div class="row">
      <div class="col-md-5 col-lg-3">
        <a
          target="_blank"
          href="{{ post.external_url }}"
        >
          <img
            class="img-link img-fluid"
            src="{{ post.image_url | relative_url }}"
          />
        </a>
      </div>
      <div class="col-md-7 col-lg-9 pt-3 pt-md-1">
        <ul class="list-unstyled">
          <li>
            {% if post.event_date %}
            <strong>
              <span class="text-muted">When:</span> 
              {{ post.event_date | date: "%a, %B %d, %l:%M%P" }}
              {% if post.event_time_end %}
              to {{ post.event_time_end }}
              {% endif %}
            </strong>
            {% endif %}
          </li>
          <li>
            {% if post.location %}
            <strong>
              <span class="text-muted">Where:</span> 
              <a href="https://www.google.com/maps/search/{{ post.location }}" target="_blank">{{ post.location }}</a>
            </strong>
            {% endif %}
          </li>
        </ul>
        <div>{{ post.content }}</div>
      </div>
    </div>
  </div>
  {% endfor %}

  <div class="contrast-container">
    <h2 class="ft-fml-1 ft-bdr-1">
      <span class="ft-clr-1 ">Volunteers Needed!</span>
    </h2>
    <div class="row">
      <div class="col-md-5 col-lg-3">
        <a
          target="_blank"
          href="https://www.volcor.net/TakeSurvey2.aspx?s=2414_honkwest"
        >
          <img
            class="img-link img-fluid"
            src="{{ '/assets/images/volunteer.jpg' | relative_url }}"
          />
        </a>
      </div>
      <div class="col-md-7 col-lg-9 pt-3 pt-md-1">
        <div>
          <p>
          HONK! Fest West is completely free to the public. 
          We run almost entirely on the donations from fans like YOU and the hard work of our volunteers. 
          For this year's festival, we need dedicated, passionate volunteers with a passion for live music and community involvement. 
          If this sounds like you, we'd love to have you join our team!
          </p>
          <p>
          You can register to volunteer here: <a target="_blank" href="https://bit.ly/2DB9L2r">https://bit.ly/2DB9L2r</a>.
          </p>
          <p>More info on volunteering for HONK! Fest West on our <a href="{{ '/volunteer.html' | relative_url }}">Volunteer Page</a>.</p>
        </div>
      </div>
    </div>  
  </div>

  <div class="row">
    <div class="col-lg-4">
      <div class="contrast-container rounded">
        <h2 class="ft-fml-1 ft-clr-1 ft-bdr-1 text-center">About</h2>
        <p>
          HONK! Fest West is an accessible community music festival driven by
          the energetic performances of street bands in public spaces. In 2019,
          we are embracing activism by engaging with and empowering the
          underserved communities of our region.
        </p>
        <div class="d-flex justify-content-left">
          <a
            class="btn btn-secondary d-block"
            href="{{ '/about' | relative_url }}"
            role="button"
            >Read more »</a
          >
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="contrast-container rounded">
        <h2 class="ft-fml-1 ft-clr-1 ft-bdr-1 text-center">Volunteer</h2>
        <p>
          If you want to volunteer, and help make HONK! Fest West magic, contact
          our Volunteer Coordinator via our volunteer page or send an email to
          <a href="mailto:volunteers@honkfestwest.org">volunteers@honkfestwest.org</a>
        </p>
        <div class="d-flex justify-content-left">
          <a
            class="btn btn-secondary d-block"
            href="{{ '/volunteer' | relative_url }}"
            role="button"
            >Read more »</a
          >
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="contrast-container rounded">
        <h2 class="ft-fml-1 ft-clr-1 ft-bdr-1 text-center">Donate</h2>
        <p>
          Your contributions help make this event possible. Through the generous
          efforts of our shared community, we’ll keep bringing music to the
          streets and parks of Seattle’s neighborhoods.
        </p>
        <div class="d-flex justify-content-left">
          <a
            class="btn btn-secondary d-block"
            href="{{ '/donate' | relative_url }}"
            role="button"
            >Read more »</a
          >
        </div>
      </div>
    </div>
  </div>

  <div
    id="imageCarousel"
    class="carousel slide contrast-container p-3"
    data-ride="carousel"
  >
    <div class="carousel-inner">
      {% for image in page.carousel_images %}
      <div
        class="carousel-item {% if forloop.first == true %}active{% endif %}"
        data-interval="4000"
      >
        <div
          style="background-image: url({{ image | relative_url }})"
          class="d-block w-100"
        ></div>
      </div>
      {% endfor %}
    </div>
    <a
      class="carousel-control-prev"
      href="#imageCarousel"
      role="button"
      data-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a
      class="carousel-control-next"
      href="#imageCarousel"
      role="button"
      data-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>
