---
layout: default
title: Sponsors - HONK! Fest West
golden_dino: show
---

<div class="container">
  <div class="contrast-container">
    <p>
      Strong support from business donors will be the key to our success. Your
      tax-deductible contribution will help to pay for the many expenses and
      logistics associated with this amazing event.
    </p>
    <p>
      For more information or to discuss sponsorship levels, features, or
      benefits, please contact us at
      <a href="mailto:info@honkfestwest.org">info@</a>.
    </p>
  </div>
  <div class="row">
    <div class="col-md-8">
      <div class="contrast-container">
        <h2 class="ft-fml-1 ft-bdr-1">
          <span class="ft-clr-1">Ready to Participate?</span>
        </h2>
        <p>
          HONK! Fest West is fiscally sponsored by Shunpike, a 501(c)(3)
          non-profit organization that supports the arts, as our fiscal sponsor.
          Donations can be made via check to:
        </p>
        <p class="text-center">
          <strong>Shunpike</strong> <br />
          (with HONK! Fest West in the memo line) <br />
          at 220 2nd Ave. S, Suite 102, Seattle, WA 98104
        </p>
        <p>
          or securely online at:
          <a
            href="https://poweredbyshunpike.org/c/PBS/a/honkfestwest"
            target="_blank"
            >http://poweredbyshunpike.org</a
          >
        </p>
      </div>
      <div class="contrast-container">
        <h2 class="ft-fml-1 ft-bdr-1">
          <span class="ft-clr-1">Arts Support Organizations</span>
        </h2>
        <p>
          We thank <a href="http://shunpike.org" target="_blank">Shunpike</a>, a
          501(c)(3) non-profit agency that provides independent arts groups in
          Washington State with the services, resources, and opportunities they
          need to forge their own paths to sustainable success.
        </p>
        <a href="{{ site.data.sponsors.shunpike.link }}" target="_blank">
          <img
            src="{{ site.data.sponsors.shunpike.image | relative_url }}"
            alt="{{ site.data.sponsors.shunpike.name }}"
            class="rounded mx-auto d-block"
            style="padding: 10px; height: 100px; background-color: #f4efdf;"
          />
        </a>
        <p class="mt-3">
          HONK! Fest West is supported, in part, by grant awards from
          <a href="http://www.4culture.org/" target="_blank">4Culture</a> and
          the Community Investments Fund of
          <a href="http://www.tides.org/" target="_blank">Tides Foundation</a>.
        </p>
        <div class="d-flex flex-wrap justify-content-around">
          {% for sponsor in site.data.sponsors.arts %}
          <a href="{{ sponsor.link }}" target="_blank">
            <img
              src="{{ sponsor.image | relative_url }}"
              alt="{{ sponsor.name }}"
              class="rounded"
              style="height: 100px;"
            />
          </a>
          {% endfor %}
        </div>
        <p class="mt-3">
          We thank the original
          <a
            href="http://honkfest.org/"
            target="_blank"
            rel="noopener noreferrer"
            >HONK! festival</a
          >—the mothership—which inspired our festival and has since seen other
          offspring arise in <a href="http://honktx.org">Austin</a>,
          <a
            href="http://crashdetroit.org"
            target="_blank"
            rel="noopener noreferrer"
            >Detroit</a
          >,
          <a
            href="http://www.honkfest.org.au/"
            target="_blank"
            rel="noopener noreferrer"
            >Australia</a
          >,
          <a
            href="https://www.facebook.com/honkrio/"
            target="_blank"
            rel="noopener noreferrer"
            >Brazil</a
          >
          and beyond!
        </p>
      </div>
      <div class="contrast-container">
        <h2 class="ft-fml-1 ft-bdr-1"><span class="ft-clr-1">Venues</span></h2>
        <p>
          HONK! festivals are a celebration of music in the streets, parks and
          neighborhoods. We also rely on donated green-room space for instrument
          storage and musician downtime, feeding, socializing and jamming. We
          are also thankful to the City of Seattle for allowing us to use the
          city’s parks and public streets.
        </p>
        <div class="d-flex flex-wrap justify-content-around">
          {% for sponsor in site.data.sponsors.venues %}
          <a href="{{ sponsor.link }}" target="_blank">
            <img
              src="{{ sponsor.image | relative_url }}"
              alt="{{ sponsor.name }}"
              class="rounded"
              style="height: 100px;"
            />
          </a>
          {% endfor %}
        </div>
      </div>
      <div class="contrast-container">
        <h2 class="ft-fml-1 ft-bdr-1"><span class="ft-clr-1">Food</span></h2>
        <p>
          It takes a lot of donated food and an amazing crew of hard-working
          volunteers to keep hungry musicians and volunteers well-fed throughout
          the festival. Thank you!
        </p>
        <div class="d-flex flex-wrap justify-content-around">
          {% for sponsor in site.data.sponsors.food %}
          <a href="{{ sponsor.link }}" target="_blank">
            <img
              src="{{ sponsor.image | relative_url }}"
              alt="{{ sponsor.name }}"
              class="rounded mb-3"
              style="height: 90px;"
            />
          </a>
          {% endfor %}
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="contrast-container rounded">
        <h2 class="ft-fml-1 ft-bdr-1 text-center">
          <span class="ft-clr-1">Sponsorship Levels</span>
        </h2>
        <h3 class="ft-fml-2 mt-4 text-center">
          <a
            href="https://poweredbyshunpike.org/c/PBS/a/honkfestwest/Donate?t=5000"
            target="_blank"
            class="font-weight-normal"
            >Grand Marshall</a
          >
          <span class="text-muted">$5,000+</span>
        </h3>
        <ul>
          <li>Top billing as a “Title Sponsor” of our event</li>
          <li>
            Large color logo on sponsors web page, promotional material, email
            newsletters
          </li>
          <li>Color business card ad in festival program</li>
          <li>Booth placement available Friday & Saturday (10×10 or smaller)</li>
          <li>Large banners at appropriate venues</li>
          <li>Social media & website blog coverage year-round</li>
          <li>Verbal recognition throughout festival</li>
          <li>10 tickets to special events and afterparties for 1 year</li>
          <li>
            Live 1 hour performance (subject to band availability) from
            participating band
          </li>
        </ul>
        <h3 class="ft-fml-2 mt-4 text-center">
          <a
            href="https://poweredbyshunpike.org/c/PBS/a/honkfestwest/Donate?t=2500"
            target="_blank"
            class="font-weight-normal"
            >Top Brass</a
          >
          <span class="text-muted">$2,500</span>
        </h3>
        <ul>
          <li>Featured billing as an sponsor of our event</li>
          <li>
            Color logo on sponsors web page, promotional material, email
            newsletters
          </li>
          <li>Small ad in festival program</li>
          <li>Signage at appropriate venues</li>
          <li>
            Booth placement available Friday and Saturday (10×10 or smaller)
          </li>
          <li>Social media & website blog coverage throughout festival</li>
          <li>Verbal recognition throughout festival</li>
          <li>Invites to select special events and afterparties`</li>
        </ul>
        <h3 class="ft-fml-2 mt-4 text-center">
          <a
            href="https://poweredbyshunpike.org/c/PBS/a/honkfestwest/Donate?t=1000"
            target="_blank"
            class="font-weight-normal"
            >Horn Star</a
          >
          <span class="text-muted">$1,000</span>
        </h3>
        <ul>
          <li>Color logo on sponsors web page</li>
          <li>Shared booth placement available</li>
          <li>Social media shoutouts and recognition</li>
          <li>Invited to select special events</li>
        </ul>
        <h3 class="ft-fml-2 mt-4 text-center">
          <a
            href="https://poweredbyshunpike.org/c/PBS/a/honkfestwest/Donate?t=500"
            target="_blank"
            class="font-weight-normal"
            >Band Booster</a
          >
          <span class="text-muted">$500</span>
        </h3>
        <ul>
          <li>Logo on sponsors web page</li>
          <li>Sponsor listing where appropriate</li>
        </ul>
        <h3 class="ft-fml-2 mt-4 text-center">
          <a
            href="https://poweredbyshunpike.org/c/PBS/a/honkfestwest/Donate"
            target="_blank"
            class="font-weight-normal"
            >In-Kind Contribution</a
          >
        </h3>
        <ul>
          <li>Promotions determined on a case-by-case basis</li>
        </ul>
      </div>
    </div>
  </div>
</div>
