<nav class="navbar-container">
  <a class="logo mx-auto" href="/"> {% include logo.html %} </a>
  <ul class="nav justify-content-center sticky-top">
    <li class="nav-item">
      <a
        class="nav-link ft-fml-1 {% if page.url == '/about.html' %}active{% endif %}"
        href="/about"
        >About</a
      >
    </li>
    <li><span class="nav-bullet">&#8226;</span></li>
    <li class="nav-item">
      <a
        class="nav-link ft-fml-1 {% if page.url == '/volunteer.html' %}active{% endif %}"
        href="/volunteer"
        >Volunteer</a
      >
    </li>
    <li><span class="nav-bullet">&#8226;</span></li>
    <li class="nav-item">
      <a
        class="nav-link ft-fml-1 {% if page.url == '/donate.html' %}active{% endif %}"
        href="/donate"
        >Donate</a
      >
    </li>
    <li><span class="nav-bullet">&#8226;</span></li>
    <li class="nav-item">
      <a
        class="nav-link ft-fml-1 {% if page.url == '/sponsors.html' %}active{% endif %}"
        href="/sponsors"
        >Sponsors</a
      >
    </li>
    <li><span class="nav-bullet">&#8226;</span></li>
    <li class="nav-item">
      <a
        class="nav-link ft-fml-1 {% if page.url == '/contact.html' %}active{% endif %}"
        href="/contact"
        >Contact</a
      >
    </li>
    <li><span class="nav-bullet">&#8226;</span></li>
    <li class="nav-item social-links">
      <a
        class="social-link"
        target="_blank"
        href="https://www.facebook.com/HONKFestWest/"
        ><i class="fab fa-facebook"></i
      ></a>
      <a
        class="social-link"
        target="_blank"
        href="https://twitter.com/honkfestwest"
        ><i class="fab fa-twitter"></i
      ></a>
      <a
        class="social-link"
        target="_blank"
        href="https://www.instagram.com/honkfestwest/"
        ><i class="fab fa-instagram"></i
      ></a>
      <a
        class="social-link"
        target="_blank"
        href="https://www.flickr.com/groups/1352913@N23/"
        ><i class="fab fa-flickr"></i
      ></a>
    </li>
  </ul>
</nav>
