<nav class="navbar-container">
  <a class="logo mx-auto" href="{{ '/' | relative_url }}">
    {% include logo.html %}
  </a>
  <ul class="nav justify-content-center sticky-top">
    {% for item in site.data.navigation %}
    <li class="nav-item">
      <a
        class="nav-link ft-fml-1 {% if page.url == (item.link | relative_url) %}active{% endif %}"
        href="{{ item.link | relative_url }}"
        >{{ item.name }}</a
      >
    </li>
    <li><span class="nav-bullet">&#8226;</span></li>
    {% endfor %}
    <li class="nav-item social-links">
      <a
        class="social-link"
        target="_blank"
        href="https://www.facebook.com/HONKFestWest/"
        ><i class="fab fa-facebook"></i
      ></a>
      <a
        class="social-link"
        target="_blank"
        href="https://twitter.com/honkfestwest"
        ><i class="fab fa-twitter"></i
      ></a>
      <a
        class="social-link"
        target="_blank"
        href="https://www.instagram.com/honkfestwest/"
        ><i class="fab fa-instagram"></i
      ></a>
      <a
        class="social-link"
        target="_blank"
        href="https://www.flickr.com/groups/1352913@N23/"
        ><i class="fab fa-flickr"></i
      ></a>
    </li>
  </ul>
</nav>
