---
---

#committee-page {
  margin-top: -32px;
  h1 {
    color: #f9a602;
  }
  h2 {
    color: #b37700;
  }
  p {
    font-weight: bold;
    color: #d89104;
  }

  .dino-track {
    text-align: center;
    position: relative;
    height: 40px;
    top: 13px;
  }

  h1 {
    background-color: rgba(#b37700, 0.8);
  }
  .member-image {
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 150px;
    height: 150px;
  }
}
