footer {
  border-top: 5px solid #00483d;
  background-color: rgba(white, 0.4);

  .footer-inner {
    border-top: 5px solid #3f746c;
    border-bottom: 5px solid #3f746c;
    background-color: rgba(#5eaf9c, 0.4);
    p {
      font-size: 11px;
      line-height: 18px;
    }

    h3 {
      font-size: 1.5em;
    }
  }

  .sponsors {
    img {
      height: 55px;
      margin: 5px;
    }
  }

  .bottom-nav {
    .nav-item > * {
      font-weight: normal;
      color: #3f746c;
      &.active {
        color: #dc5849;
        &:hover {
          color: #dc5849;
        }
      }
      &:hover {
        color: #d8a894;
      }
    }
  }
}
