@font-face {
  font-family: 'Cornerstone';
  src: url('/assets/fonts/Cornerstone.ttf');
}

.top-banner-container {
  box-sizing: border-box;
  padding: 5px;
  width: 100vw;
  background-color: black;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  & > * {
    margin: 0 10px;
    display: block;
  }

  a {
    font-size: 1.5rem;
    font-family: 'Cornerstone', sans-serif;
    color: white;
    font-weight: normal;
    &:hover {
      color: white;
    }
  }
}
