<!DOCTYPE html>
<html lang="en" class="h-100">
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=UA-134727434-1"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag('js', new Date());
      gtag('config', 'UA-134727434-1');
    </script>

    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta
      name="description="
      content="HONK! Fest West is an accessible community music festival driven by the energetic performances of street bands in public spaces."
    />
    <meta
      name="google-site-verification"
      content="QHgQCnyPl3-6W4In9d1GvMXxRc0qVt5raz0dXXJ_vjg"
    />

    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />

    <!-- Open Graph -->
    <meta
      property="og:url"
      content="https://www.honkfestwest.org{{ page.url }}"
    />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="{{ page.title }}" />
    <meta
      property="og:description"
      content="HONK! Fest West is an accessible community music festival driven by the energetic performances of street bands in public spaces."
    />
    <meta
      property="og:image"
      content="https://www.honkfestwest.org/assets/images/festival/2019/hfw-logo.png"
    />
    <meta property="og:image:width" content="1740" />
    <meta property="og:image:height" content="1230" />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
      integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
      crossorigin="anonymous"
    />

    <!-- Font Awesome -->
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
      integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay"
      crossorigin="anonymous"
    />

    <link
      rel="stylesheet"
      href="{{ '/assets/css/layouts/default.css' | relative_url }}"
    />
    <link
      rel="stylesheet"
      href="{{ '/assets/css/pages/index.css' | relative_url }}"
    />
    <link
      rel="stylesheet"
      href="{{ '/assets/css/pages/committee.css' | relative_url }}"
    />
    <link
      rel="stylesheet"
      href="{{ '/assets/css/golden-dino.css' | relative_url }}"
    />

    <title>{{ page.title }}</title>
  </head>
  <body class="d-flex flex-column h-100">
    <div id="background-container">
      <div class="background-image"></div>
      <div class="background-color-layer"></div>
    </div>
    <div>{% include top-banner.html %}</div>
    <header>{% include navbar.html %}</header>
    <main class="flex-shrink-0 my-4" role="main">{{ content }}</main>
    <footer class="footer mt-auto">{% include footer.html %}</footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.3.1.min.js"
      integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
      integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
      integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
      crossorigin="anonymous"
    ></script>
    <script src="{{
        '/assets/javascript/animatesprite.js' | relative_url
      }}"></script>
    <script src="{{
        '/assets/javascript/golden-dino.js' | relative_url
      }}"></script>
  </body>
</html>
